<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">

    <title th:text="${'Регистрация пользователя' }"></title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<div class="header-page">
    <h1>Create User</h1>
</div>
<div class="content-page">
    <div class="block-list-left">
        <div class="block-list-left-menu-buttom">

            <a href="#">User page</a>
        </div>
        <div class="block-list-left-menu-buttom">
            <a th:href="@{/admin/}">Admin page</a>
        </div>
    </div>
    <div class="block-content">


        <form th:method="POST" th:action="@{/admin/create}" th:object="${user}">
            <label for="name">First name</label>
            <br>
            <input th:field="*{name}" type="text" id="name"/>
            <br><br>
            <label for="password">Password</label>
            <br>
            <input th:field="*{password}" type="text" id="password"/>
            <br><br>
            <label for="lastName">Last name</label>
            <br>
            <input th:field="*{lastName}" type="text" id="lastName"/>
            <br><br>
            <label for="age">Age</label>
            <br>
            <input th:field="*{age}" type="number" id="age"/>
            <br><br>
            <label for="email">Email:</label>
            <br>
            <input th:field="*{email}" type="text" id="email"/>
            <br><br>

            <label for="role">Roles:</label>
            <select multiple="multiple" th:field="*{roles}"
                    type="text" id="role">
                <option th:each="role : ${roles}" th:value="${role.getId()}" th:text="${role.getName()}"></option>

            </select>

            <p>
                <input type="submit" value="Create"/>
            </p>
        </form>

    </div>

</div>


</body>
</html>