<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">

    <title th:text="${'Профиль пользователя'}"></title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<div class="header-page">
    <h1 th:text="${user.getName + ', welcome!'}"></h1>
</div>
<div class="content-page">
    <div class="block-list-left">
        <div class="block-list-left-menu-buttom">
            <a th:href="@{/user}">User page</a>
        </div>
        <div class="block-list-left-menu-buttom">
            <a th:href="@{/admin/}">Admin page</a>
        </div>
    </div>
    <div class="block-content">

        <div th:each="user1: ${user}">
            <p>Name, Lastname, Age:</p>
            <p th:text="${user1.getName()}"></p>
            <p th:text="${user1.getLastName()}"></p>
            <p th:text="${user1.getAge()}"></p>
            <p>Email:</p>
            <p th:text="${user1.getEmail()}"></p>
            <p>Password:</p>
            <p th:text="${user1.getPassword()}"></p>
            <p>Roles:</p>
            <p th:each=" role : ${user1.getRoles()}" th:text="${role.getName()}"></p>

        </div>
        <div>
            <form th:action="@{/logout}" method="post">
                <button type="submit">Log out</button>
            </form>
        </div>

    </div>

</div>


</body>
</html>